    body{
        
        font-family: 'Roboto', sans-serif;
    }
    
    .fundo-verde{
        width: 100%;
        height: 100vh;
        background-color:#eef9bf;
        display: flex;
        flex-direction:column;
        /*justify-content: center;*/
        align-items: center;
    }

    .titulo{
        width: 540px;
        height: 63px;
        
        font-size: 56px;
        font-weight: 700;
        line-height: 65px;
        color: #75B79E;

        margin-top: 40px;
        margin-bottom: 150px;
    }

    /* CSS DAS CARTAS---------------------------------------------*/
    .allCards{
        display: flex;
        

    } 
    
    .card {
        width: 200px;
        height: 250px;
        position: relative;
       
      }

      .face {
        width: 100%;
        height: 100%;
        background-color: #A7E9AF;
        border-radius: 10px;
        box-shadow: 1px 1px 1px rgba(0,0,0,.3);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        backface-visibility: hidden;
        transition: all .5s;
        transform-style: preserve-3d;
      }

      .back-face {
        transform: rotateY(180deg);
      }

      /*.card:hover .back-face {
        transform: rotateY(0deg);
      }

      .card:hover .front-face {
        transform: rotateY(-180deg);
      }*/

      .front{
        transform: rotateY(-180deg);
      }

      .back{
        transform: rotateY(0deg);
      }
      .space{
          margin-left:10px;
          margin-right:10px;
      }
      /*-------------------------------------------------------------*/